*.acn
*.acr
*.alg
*.aut
*.aux
*.bbl
*.blg
*.bst
*.cls
*.djv
*.doc
*.dvi
*.fff
*.gif
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.jpg
*.lof
*.log
*.lot
*.maf
*.mov
*.mtc
*.mtc1
*.nav
*.out
*.pdf
*.pdfsync
*.png
*.ps
*.snm
*.sty
*.synctex.gz
*.toc
*.ttt 
