*.log
*.aux
*.xlsx
*.bbl
*.bib
*.pdfsync
*.dvi
*.fig
*.xlsx
*.zip
*.nav
*.snm
*.aut
**/**/*.synctex.gz
*.aux
*.blg
*.fff
*.fls
*.out
*.pdf
*.djv
*.ps
*.jpg
*.mov
*.png
*.fdb*
*.gif
*.doc
*.toc
*.ttt 
*.latexmain
.bash_history
.viminfo
tags
.Trash/
.dropbox/
Desktop/
math/Papers/
math/Papers2/
Documents/
Downloads/
Dropbox/
Library/
Movies/
Music/
Network/
Pictures/
Public/
share/
math-backup/
texclipse_output/
papers-other/
tmp/
